.cart-item{
    width: 40%;
    margin: 60px auto;
    box-shadow: 5px 5px 15px #00000059;
    border-radius: 15px;
    display: grid;
}
.cart-item img{
    width: 100%;
    border-radius: 15px 15px 0 0;
}
.cart-item-info{
    margin:30px 40px 30px 40px;
    text-align: justify;
}
.cart-bottom button{
    font-size: 16px;
    font-weight: 500;
    color: white;
    border: none;
    background: linear-gradient(to right, #00d2ff, #3a7bd5);
    padding: 10px 30px;
    border-radius: 50px;
    transition: 0.3s;
    cursor: pointer;
}
.cart-item-info h3, 
.cart-item-info p, 
.cart-item-info .cart-bottom {
    margin: 15px 0; /* Đảm bảo không có margin mặc định */
}
.cart-bottom{
    justify-content: space-between;
}
.cart-bottom p{
    font-size: 30px;
}
@media screen and (max-width: 1160px){
    .cart-item{
        width: 60%;
    }
}
@media screen and (max-width: 760px){
    .cart-item{
        width: 80%;
    }
}
@media screen and (max-width: 560px){
    .cart-item{
        width: 90%;
    }
}